/*******************Blog Section Css Starts**************/
.blog{
    position:relative;
    height:3500px; 
    overflow: hidden;
    width: 100%;
}
/************Blogs left hand side section css starts**********/
.blogPost{
    position:absolute;
    left:0;
    width: 50%;
    overflow: hidden;
    margin-left:10rem;
    display:inline-block;
}
.myBlog{
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
    text-align:center;
    margin:2rem;
    overflow: hidden;
    display:inline-block;
    padding:1rem
}
.myBlog p{
    font-size: 22px;
    color:#6C757D;
}
.comment-section{
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
    text-align:center;
    margin:2rem;
    display: inline-block;
    padding:1rem;
    color:#6C757D;
}
.blogPost img{
    height:500px;
    width:100%;
    background-size: 100% 100%;
    padding:2rem 0;
    
}

.page-link{
    color:black;
}
/****************blogs right hand side css starts**********/
.blogFeature{
    position: absolute;
    right:0;
    width:25%;
    overflow:hidden;
    margin-right: 5rem;
    display:inline-block;
    
}
/*****Why raf Portion******/
.description{
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
    text-align:center;
    margin:2rem;
    overflow:hidden;
    display:inline-block;
}
.imgRAF{
    height: 200px;
    width:100%;
    background-size:100% 100%;
}
.RAFp{
color:#6C757D;
 text-align: center;
}
/*****Popular post portion*******/
.FeaturePost{
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
    text-align:center;
    margin:2rem;
    overflow: hidden;
    display:inline-block;
}
.FeaturePost img{
    height: 100px;
    width:50%;
    background-size:100% 100%;
}

.PopularPost-heading a{
  color:black;
}
.PopularPost-heading a:hover{
    color:black;
    text-decoration: none;
  }

.PopularPost1{
 margin:1rem 0;
}
.PopularPost2{ 
 margin:1rem 0;
}
.PopularPost3{
    margin:1rem 0;
}
.PopularPost4{
    margin:1rem 0;
}
.PopularPost5{
    margin:1rem 0;
}
/********Advertisement Portion********/
.advertise{
    height:150px;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
    text-align:center;
    margin:2rem;
    background-color: grey;
    overflow: hidden;
}
.ads{
    margin:auto;
    width:90%;
    height:30px;
    background-color: #fff;
}
/*******Tags Portion**********/
.tags{
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
    margin:2rem;
    overflow:hidden;
    display: inline-block;
}
.tagName{
    text-align: center;
}

    
.tags button{
   height:2rem;
   width:5rem;
   margin:5px;
   border-radius:20%;
   background-color: rgba(255, 94, 98, 1);
   color:#fff;
   display:inline-block;

  }
  .tags button:hover{
      opacity:0.5;
  }
  /********instagram feed portion*********/
  .instagram{
    height:300px;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
    text-align:center;
    margin:2rem;
    overflow: hidden;
  }
.instagram img{
    height:100px;
    width:100px;
    background-size: 100% 100%;
    margin:1rem;
}  
/*******Follow Us portion*************/
.followUs {
    margin:2rem;
    height:150px;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
    text-align:center;
    overflow: hidden;

    /* display: flex;
    justify-content: space-around;
    flex-wrap: wrap; */
}
.sci{
    margin-left:3.5rem;
}
/**************Subscribe portion***************/
.subscribe{
    height:300px;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
    margin:2rem;
    text-align:center;
    overflow: hidden;
}

.text{
    font-weight: bold;
    font-size:1.25em;
}
@media(max-width:1024px){
    .sci{
        margin:1rem;
    }
}
@media(max-width:991px){
   .blogPost{
       width:70%;
    margin-left:10px;
   } 
   .blogFeature{
      width:30%;
      margin-right:0px; 
   }
  .sci li{
      margin:0;
  }
}

@media(max-width:768px){
    .blog{
        height:7500px;
    }
    .blogPost{
     width:100%;
    }
    .blogFeature{
        width:100%;
        top:5000px;
    
    }

}
